.main-content .title{
  font-family: 'InterBold';
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 2.2rem;
}

.main-content .list li{
  display: flex;
  align-items: center;
  font-family: 'OpenSans';
  font-size: 1rem;
  background-image: url("/assets/icons/green-check.svg"); 
  background-repeat: no-repeat; 
  height: 2rem;
  line-height: 1.5rem;
  margin-bottom: 3rem;
  padding-left: 44px;
}

.main-content .list li:first-child{
  margin-bottom: 2.2rem;
}

.main-content img{
  display: none;
}

.main-content .cta-btn{
    padding: 0.9rem 1.3rem;
    margin-bottom: 3.5rem;
    font-family: 'Inter';
}

/* .clients{
  margin-bottom: 3rem;
}

.clients h2{
  font-family: 'InterBold';
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}

.tns div{
  text-align: center;
}

.tns img{
  max-width: 80%;
} */

@media(min-width: 1024px){
  .main-content{
    display: flex;
    justify-content: space-around;
    width: 47rem;
    margin: auto;
  }

  .main-content .title{
    font-family: 'InterBold';
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 1.8rem;
  }

  .main-content .list{
    margin-bottom: 3rem;
  }

  .main-content .list li{
    font-size: 1rem;
    background-image: url("/assets/icons/green-check.svg"); 
    background-repeat: no-repeat; 
    height: 1.6rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 44px;
  }
  
  .main-content .list li:first-child{
    margin-bottom: 1.5rem;
  }

  .main-content img{
    margin: auto;
    display: block;
    width: 21rem;
  }

  /* .clients h2{
    font-size: 1.6rem;
  }

  .clients br{
    display: none;
  }

  .tns{
    display: flex;
    justify-content: space-evenly;
    max-width: 1500px;
    margin: auto;
  }

  .tns img{
    max-width: 100%;
    width: 8rem;
  } */
}
