.third-section img {
  max-width: 20rem;
  margin-left: -20px;
}

.third-section .text {
  max-width: 500px;
  margin: auto;
}

.third-section .title {
  font-family: 'InterBold';
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

.third-section .subtitle {
  font-family: 'OpenSans';
  font-size: 1rem;
  margin-bottom: 2.5rem;
  line-height: 2rem;
}

.third-section .social-grid {
  display: grid;
  grid-template-rows: 2.5rem 2.5rem 2.5rem;
  grid-template-columns: 6rem 6rem 6rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
  margin-bottom: 3rem;
}

.social-grid div {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 0.8rem;
  text-align: center;
  color: rgba( 0, 0, 0, 0.6 );
  padding: 0.8rem 1.5rem;
  border: 1px solid rgba( 0, 0, 0, 0.4 );
  border-radius: 10px;
}

.social-grid .blue-wrapper { display: contents; }

.social-grid .blue-wrapper div {
  background-color: rgba( 0, 131, 184, 1 );
  color: rgba( 255, 255, 255, 1 );
  border-color: rgba( 0, 131, 184, 1 );
}

@media(min-width: 1024px) {

  .third-section {
    position: relative;
  }

  .third-section .text {
    width: 30rem;
    margin-left: auto;
    margin-right: 3rem;
    margin-top: 3rem;
  }

  .third-section img {
    width: 20rem;
    max-width: 700px;
    margin-left: -40px;
    display: inline-block;
    position: absolute;
  }
}

@media(min-width: 1200px) {
  .third-section .text {
    margin-right: 10rem;
  }
}

@media(min-width: 1600px) {
  .third-section .text {
    margin-right: auto;
    max-width: 700px;
  }
}